*.png
*.exe
*.pdf
*.jpg
*.mp4
.history
images*
.trae
.windsurf
.augment
.roo
.vscode
prompt/
.env
docs/
out/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.sqlite3
*.sqlite3-journal
*.pyc
*.pyo
*.pyd

# 编译pyinstaller
build/
dist/
*.egg-info
*.manifest
*.spec

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/

# Exbook
